NEXT_PUBLIC_SUPABASE_URL=https://fqcrxfplxtanefldejtr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxY3J4ZnBseHRhbmVmbGRlanRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMjc5OTMsImV4cCI6MjA4NzkwMzk5M30.DsRADpeDBuRYXtitWHlNdYnSv0lhk9ACQqxSYR3nZS8
NEXT_PUBLIC_SITE_URL=http://localhost:3000
AD_FILL_RATE=0.35
